# Python
__pycache__/
*.pyc
.venv/
.env

# DVC
.dvc/cache/
mentorex2/data/processed/*
mentorex2/models/*
!mentorex2/data/raw/*.dvc
!mentorex2/data/processed/*.dvc
!mentorex2/models/*.dvc

# MLflow
mlruns/

# IDE
.idea/
*.iml

# uv
uv.lock

# Other
*.log
.DS_Store
project_files.txt
