# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Данные и модели
mentorex2/mentorex2/data/raw/*
mentorex2/mentorex2/data/processed/*
mentorex2/mentorex2/models/*
mentorex2/mentorex2/reports/figures/*
*.pkl
*.pth
*.safetensors

# Временные файлы
*.log
*.tmp
*.bak

# IDE и локальные конфигурации
.idea/
.vscode/
*.code-workspace
.python-version

# CatBoost временные файлы
catboost_info/

# Исключения
!mentorex2/mentorex2/data/sample_cifar10_image.jpg
!mentorex2/models/bert/model.safetensors
!mentorex2/models/vit/model.safetensors